<html>
  <body>
    Hi there, <%= @name %>! Nice to meet you!

    Let's count from 1 to 20!
    <ul>
      <% 20.times do |i| %>
        <li>Number <%= i %></li>
      <% end %>
    </ul>
  </body>
</html>
