<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><title>Let's mount your bike</title>
</head><body style="font-family: courier, monospace"><header>
<h1>Let's mount your bike</h1>
</header>
<ul>
<% @parts.each do|part| %>
<li><%= part.to_s %></li>
<% end %>
</ul>
<strong><%= @total_str %></strong>
</footer
></body>
</html>

