<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Warning!</title>
</head>
<body>
	<strong><%= @title %> seems to be a very bad film. See it at your own risc</strong>
</body>
</html>