<html>
    <head>
        <title>Shoutts</title>
    </head>
    <body>
        <h1>Please, sign in to use Shoutts</h1>
        <form name="login" action="/login" method="post">
            Username<input type="text" name="user"/>
            Password<input type="password" name="passw"/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>